# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyd
*.swp

# Django specific
/media/
/static/
*.log 

# Environments
.venv/
env/
venv/
ENV/
.env
# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Packages
*.egg-info/
.eggs/
